.main__header {
  position: relative;
  width: 100%;
  height: 300px;
  background-image: url('https://res.cloudinary.com/starlink/image/upload/v1610772658/RM/R_M_annxgy.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom-left-radius: calc(var(--border-radius) *2);
  border-bottom-right-radius: calc(var(--border-radius) *2);
}

.main__header:hover ~ .searcher {
  transform: scale(1);
}

.main__header-title {
  width: 40%;
  position: absolute;
  bottom: var(--spacing-small);
  left: 0;
  right: 0;
  margin: 0 auto;
  font-size: 3rem;
  text-align: center;
  border-radius: var(--border-radius);
}

.main__results {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: var(--spacing-medium);
  width: 80%;
  margin: 0 auto;
  margin-top: var(--spacing-large);
}
